<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdj.zmarket.dao.UserDao">
	
	<insert id="insert">
		insert into members (username, password, email, name, enable, joinDate, loginFailCnt, checkCode) 
		values (#{username}, #{password}, #{email}, #{name}, 0, sysdate, 0, #{checkCode})
	</insert>

	<select id="findById" resultType="user">
		select username from members where username=#{username}
	</select>

	<select id="findByEmail" resultType="user">
		select email from members where email=#{email}
	</select>
	
	<select id="findByCheckCode" resultType="user">
		select * from members where checkCode=#{checkCode}
	</select>
	
	<update id="update" >
		update members set enable = 1, checkCode = 'Y' where username=#{username}
	</update>

</mapper>